@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition-property: box-shadow, background-color, color, fill;
  transition-behavior: ease;
  transition-duration: 0.35s;
}

::-webkit-scrollbar {
  width: 8px;
  height: 9px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-black dark:bg-white rounded-md border-solid border-black;
}
