@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition-property: box-shadow, background-color, color, fill;
  transition-behavior: ease;
  transition-duration: 0.3s;
}

::-webkit-scrollbar {
  width: 9px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-neutral-400 dark:bg-neutral-600 rounded-md border-solid dark:border-neutral-900 border-slate-50;
}

::selection {
  @apply bg-neutral-700 dark:bg-slate-100 text-slate-100 dark:text-neutral-700;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: clip;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}
