@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-neutral-150: #ededed;
  --color-neutral-250: #dbdbdb;
  --color-neutral-450: #808080;
  --color-neutral-550: #5c5c5c;
  --color-neutral-850: #1f1f1f;
  --color-neutral-925: #131313;

  --animate-rotate-in: rotate-in 300ms ease-in-out backwards;
  --animate-rotate-out: rotate-out 350ms ease-in-out forwards;

  @keyframes rotate-in {
    0% {
      transform: rotate(90deg) scale(0);
    }
    60% {
      transform: rotate(10deg) scale(1.15);
    }
    100% {
      transform: rotate(0deg) scale(1);
    }
  }
  @keyframes rotate-out {
    0% {
      transform: rotate(0deg) scale(1);
    }
    25% {
      transform: rotate(-30deg) scale(1.15);
    }
    100% {
      transform: rotate(-90deg) scale(0);
    }
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
  :root {
    --primary: 0 0 12%;
    --secondary: 0 0 80%;
    --primary-foreground: 0 0 85%;
    --secondary-foreground: 0 0 12%;
  }

  .dark {
    --primary: 0 0 80%;
    --secondary: 0 0 12%;
    --primary-foreground: 0 0 12%;
    --secondary-foreground: 0 0 85%;
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  .page-background {
    @apply bg-slate-50;
  }

  ::-webkit-scrollbar {
    width: 9px;
    height: 9px;
    @apply bg-neutral-300;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-neutral-400  rounded-md border-solid  border-neutral-300;
  }

  ::selection {
    @apply bg-neutral-700  text-slate-100;
  }

  html.lenis,
  html.lenis body {
    height: auto;
  }

  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }

  .lenis.lenis-stopped {
    overflow: clip;
  }

  .lenis.lenis-smooth iframe {
    pointer-events: none;
  }
}
